.messages-container {
  padding: 20px;
  position: relative;
  min-height: 30px;
}

.button-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}
